[package]
name = "counter"
version = "0.1.0"
edition = "2023_10"

[dependencies]
starknet = ">=2.4.1"
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.13.1" }

[[target.starknet-contract]]
sierra = true
casm = true

[scripts]
test = "snforge test"